/********************TAG SELECTORS*****************/
body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
h1{
  color: #000000;
  padding-top: 150px;
  margin:0;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  line-height: 1.5;
}
h2{
  color: #000000;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  margin: 0;
  font-weight: normal;

}
h3{
  color: #11999E;

}

p{
  margin:0;
}
a{
  color: #11999E;
}






/*******************CLASS SELECTIOR*********************/
.top-container-square{
  background-color: #98A8F8;
  height: 680px;
  width:100%;
  position: relative;
  text-align: center;
}
.bottom-cloud{
  bottom: 350px;
  position: absolute;
  left: 350px;

}
.upper-cloud{
  position: absolute;
  top: 32px;
  right: 350px;
}

.skills-image{
  height: 178px;
  width:178px;
  border-radius: 100%;
  background-color: black;

}
.mountain{
  position: relative;
  bottom:5px;
}
.skill-row{
  text-align: left;
  width: 50%;
  margin: 150px auto 150px auto;
  line-height: 2;}


.skills-image1{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.skills-image2{
  width: 25%;
  float: right;
  margin-left: 30px;

}
.insidepara{
  line-height: 2;
}
.dottedhr{
  margin-bottom: 50px;
  border-style: dotted none none none;
  width: 5%;
  border-width: 10px;
  border-color: grey;

}
.contact-me{
  line-height: 3;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  background-color: #66BFBF;
  margin-top: 50px;
  height: 200px;
  word-spacing: 10px;
}
.nota{
  display: inline-block;
}
.footer-link-twitter{
  color: #11999E;

}
.copyrights{
  color: #EAF6F6;

}
.footer-link-appbrewery{
  text-decoration: none;
}
.s{
  padding-top: 50px;

}
.nospace{
  word-spacing: normal;
  line-height: 6;
  margin-bottom: 0;
}

.middle-container{
  margin: 0px;

}




/*******************ID Selector*************************/
#para3{
  line-height: 2;
}
